<div class="row">
  <div class="span12">
    <h1>Welcome to Scrap</h1>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div>
    <%= render "devise/registrations/new_form"%>
    </div>
  </div>
</div>