<li>
  <div class="controls">
    <%= render :partial => 'transactions/controls', :locals => { :transaction => transaction } %>
  </div>
  <div class="description">
    <span><%=description transaction%></span>
  </div>
</li>
