<div class="row-fluid">
  <div class="span6 pending">
    <h3>Waiting For You</h3>
    <ul>
      <li>
        <div class="controls">
          <span class='accept icon-ok'></span>
          <span class='reject icon-remove'></span>
        </div>
        <div class="description">
          <span>Steven DeVito split a cost with you and 2 others. Your share is $5.00</span>
        </div>
      </li>
      <li>
        <div class="controls">
          <span class='edit icon-edit'></span>
          <span class='delete icon-trash'></span>
        </div>
        <div class="description">
          <span>Steven DeVito rejected his share of $4.00 for stuff</span>
        </div>
      </li>
      <li>
        <div class="controls">
          <span class='accept icon-ok'></span>
          <span class='reject icon-remove'></span>
        </div>
        <div class="description">
          <span>Steven DeVito split a cost with you and 2 others. Your share is $5.00</span>
        </div>
      </li>
      <li>
        <div class="controls">
          <span class='edit icon-edit'></span>
          <span class='delete icon-trash'></span>
        </div>
        <div class="description">
          <span>Steven DeVito rejected his share of $4.00 for stuff</span>
        </div>
      </li>
      <li>
        <div class="controls">
          <span class='edit icon-edit'></span>
          <span class='delete icon-trash'></span>
        </div>
        <div class="description">
          <span>Steven DeVito rejected his share of $4.00 for stuff</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="span6 pending">
    <h3>Waiting For <%= @user.name %></h3>
    <ul>
      <li>
        <div class="controls">
          <span class='edit icon-edit'></span>
          <span class='delete icon-trash'></span>
        </div>
        <div class="description">
          <span>You gave Steven DeVito $2.00</span>
        </div>
      </li>
      <li>
        <div class="controls">
          <span class='accept icon-ok'></span>
          <span class='reject icon-remove'></span>
        </div>
        <div class="description">
          <span>You rejected Steven DeVito giving you $3.50</span>
        </div>
      </li>
    </ul>
  </div>
</div>
