<div class="row-fluid">
  <div class="span6 pending">
    <h3>Waiting For You</h3>
    <ul>
      <%= render :partial => "users/pending", :collection => current_user.pending_for_user(@user), :as => :transaction %>
    </ul>
  </div>
  <div class="span6 pending">
    <h3>Waiting For <%= @user.name %></h3>
    <ul>
      <%= render :partial => "users/pending", :collection => @user.pending_for_user(current_user), :as => :transaction %>
    </ul>
  </div>
</div>
