<div class="row">
  <div class="span3">
    <%= image_tag "https://graph.facebook.com/#{@user.uid}/picture?type=large"%>
    <h2><%=@user.name%></h2>
  </div>
  <div class="span9">
    <div class="summary">
      <%= render 'users/summary' %>
    </div>
  </div>
</div>
