<li class="notification">
  <div class="notification-pic">
    <%= facebook_profile_pic(approval.from) %>
  </div>
  <div class="notification-description">
    <span><%= approval_description(approval) %></span>
  </div>
  <div class="notification-controls">
    <%=link_to approve_transaction_path(approval), :remote => true, :method => :post, :class => 'refresh-trigger' do %>
      <span class='accept icon-ok'></span>
    <% end %>
    <%=link_to reject_transaction_path(approval), :remote => true, :method => :post, :class => 'refresh-trigger' do %>
      <span class='reject icon-remove'></span>
    <% end %>
  </div>
</li>
