<li class="notification">
  <div class="notification-pic">
    <%= facebook_profile_pic(approval.from) %>
  </div>
  <div class="notification-description">
    <span><%= approval_description(approval) %></span>
  </div>
  <div class="notification-controls">
    <%=link_to "/approve/#{approval.id}", :remote => true, :class => 'approve-trigger' do %>
      <span class='accept icon-ok'></span>
    <% end %>
    <%=link_to "/reject/#{approval.id}", :remote => true, :class => 'reject-trigger' do %>
      <span class='reject icon-remove'></span>
    <% end %>
  </div>
</li>
