<h1 class="center">Edit Cost</h1>
<div class="prepend-7 span-10 append-7">
  <%= form_for(@cost) do |f| %>
    <%= render 'fields', :f => f %>
    <div class="span-4 append-2 prepend-top last">
      <%= f.submit "Update", :class=> "right" %>
    </div>
  <% end %>
</div>
