<div class="prepend-1 span-10 append-1">
  <div class="round subsection span-10">
    <h1 class="center">Scrap</h1>
    <p>
    Scrap is a social tool for tracking shared costs amongst groups of friends. I'm riding the Ballmer Peak too hard right now to go into too much detail
    </p>
  </div>
</div>
<div class="prepend-1 span-10 append-1 last">
  <a href=<%= signup_path %>>
    <div class="round subsection span-10">
      <span class="center span-10">Sign Up Now!</span>
    </div>
  </a>
</div>
