<h1 class="span-24 last center" ><%= "#{@user.name}: Home" %></h1>
<div class="span-12">
  <h2 class="center">My Debts</h2>
  <ul>
    <% @user.users.each do |user| %>
      <li>
      <%= render "users/debt", :user => user %><br/>
      </li>
    <% end %>
  </ul>
</div>
<div class="span-12 last">
  <h2 class="center">My Groups</h2>
    <%= link_to "Create new group", new_group_path %>
  <ul>
    <%= render @user.groups %>
  </ul>
</div>
