<div class="row">
  <div class="span12 title">
    <h1>Welcome to Scrap</h1>
    <p class="lead">Easily split up costs with friends</p>
  </div>
</div>
<div class="row">
  <div class="span4 offset4">
    <div>
    <%= render "devise/registrations/new_form"%>
    </div>
  </div>
</div>