ul.horizontal {
  list-style-type:none;
}

ul.horizontal li {
  display:inline;
}

div.bottom {
  margin-bottom:0px;
}

.flash {
  text-align:center;
}

.center {
  text-align:center;
}

#header {
  background-color: #66CC66;
}

#header a {
  color: white
}

#header_title {
  margin-bottom:0px;
  margin-top:0.25em;
}

#section {
  background-color: #66CC66;
  margin-top:10px;
  padding-top:10px;
}

.round {
  border-radius:15px;
}

.subsection {
  background-color: white;
  padding-bottom:1em;
  margin-bottom: 10px;
}

.white {
  color:white;
}

.white a {
  color:white;
}
