// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Summary
.summary {
  text-align:center;
  border: 1px solid #CCC;
  border-radius:5px;
  background-color:#EEE;
  padding-bottom:10px;

  h1, h2 {
    margin-bottom:0px;
  }

  .header{
    border-bottom: 1px solid #CCC
  }

  .positive {
    color:green;
  }

  .negative {
    color:red;
  }
  
  .debt-list
  {
    list-style-type:none;
    padding:0px;
    margin:0px;
    li {
      text-align:left;
      .item {
        border-bottom: 1px solid #CCC;
        padding:4px;
        img {
          display:inline;
        }
      }
    }
  }
}

@media (min-width:768px) {
  .summary {
    .row-fluid {
      .span6 {
        width:50%;
        margin:0px;
      }
      .span6:first-child {
        border-right:1px solid #CCC;
      }

      .span6:last-child {
        border-left: 1px solid #CCC;
        position:relative;
        left:-1px;
      }
    }
  }
}

#notifications {
  .dropdown-toggle {
    color:#0088cc;
  }
  .dropdown-toggle:hover {
    color:#005580;
  }
  .dropdown-menu {
    font-size:14px;
    .notification {
      float:left;
      width:400px;
      border-top: 1px solid #CCC;
      .notification-pic {
        float:left;
        width:40px;
        padding:5px;
      }
      .notification-description {
        float:left;
        width:302px;
        padding:5px;
      }
      .notification-controls {
        float:left;
        width:28px;
        padding:5px;
        font-size:20px;
        a:hover {
          text-decoration:none;
        }
        a {
          color:black;
        }
        .accept:hover {
          color:green;
        }
        .reject:hover {
          color:red;
        }
        .edit:hover {
          color:blue;
        }
        .delete:hover{
          color:red;
        }
      }
    }
    .notification:first-child {
      border-top:none;
    }
  }
}

#split-wrapper {
  table {
    border-collapse: separate;
    border: 1px solid #CCC;
    border-spacing: 0;
    border-radius: 4px 4px 0px 0px;
    width: 100%
  }

  td{
    border-left: 1px solid #CCC;
    border-top: 1px solid #CCC;
  }

  td:first-child {
    border-left: none;
  }

  tr:first-child {
    td {
      border-top: none;
    }
    td:first-child {
      border-radius: 4px 0px 0px 0px;
    }
    td:last-child {
      border-radius: 0px 4px 0px 0px;
    }
  }

  input, ul.token-input-list-facebook {
    border-style:none;
    box-shadow:none;
  }

  .label-wrapper {
    vertical-align:middle;
    width:20%;
    background-color:#EEE;
    label {
      margin:0px;
      padding-left:4px;
    }
  }

  .input-wrapper {
    width:80%;
    input {
      width:100%;
      height:30px;
      box-sizing:border-box;
    }
    ul.token-input-list-facebook {
      display:inline-block;
      vertical-align:middle;
      width:100%;
      box-sizing:border-box;
      padding: 4px 6px 0px;
      input {
        height:20px;
        padding:0px;
        margin: 0px 0px 4px;
      }
      li.token-input-token-facebook {
        margin: 0px 3px 4px;
        padding: 0px 3px;
        height:18px !important;
        display:inline;
      }
    }
  }
  input[type="submit"] {
    width:100%;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
  }

  .alert {
    margin:0px;
    border-radius:0px;
  }
}
