// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

@import "bootstrap_and_overrides.css.less";

.profile-pic {
  padding:4px;
  border: 1px solid @borderColor;
  @media (min-width:768px) {
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  @media (max-width:767px) {
    margin-bottom: 10px;
  }
}

.name {
  @media (max-width:767px) {
    display: inline-block;
  }
}

#user-summary {
  div[class*="span"] {
    border: 1px solid @borderColor;
    border-radius: @baseBorderRadius;
    background-color:@backgroundColor;
    margin-bottom:10px;
    h3 {
      margin:0px;
      padding:10px;
    }
    ul {
      list-style-type:none;
      margin:0px;
      li {
        padding:10px;
        border-top: 1px solid @borderColor;
        .description {
          margin-left: 60px;
        }
      }
    }
  }
}
