// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

@import "bootstrap_and_overrides.css.less";

.profile-pic {
  vertical-align:top;
  padding:4px;
  border: 1px solid @borderColor;
  @media (min-width:768px) {
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  @media (max-width:767px) {
    margin-bottom: 10px;
  }
}

.name {
  @media (max-width:767px) {
    display: inline-block;
  }
}

#new_transaction {
  display: block;
  margin-bottom:0px;
  .prepend {
    float:left;
    width:63px;
    padding: 4px;
    box-sizing:border-box;
    text-align:right;
    background-color:@backgroundColor;
    border: solid #ccc 1px;
    border-right:0px;
    border-radius: @baseBorderRadius 0px 0px @baseBorderRadius;
    label {
      margin:0px;
    }
  }
  .input {
    display:block;
    margin-left:63px;
    margin-right:40px;
    input { 
      width:100%;
      box-sizing:border-box;
      height:30px;
      border-radius:0px;
    }
  }
  .control {
    float:right;
    button {
      border-radius: 0px @baseBorderRadius @baseBorderRadius 0px;
    }
  }
  .alert {
    ul {
      margin-bottom:0px;
    }
  } 
}

#user-summary {
  div[class*="span"] {
    border: 1px solid @borderColor;
    border-radius: @baseBorderRadius;
    background-color:@backgroundColor;
    margin-bottom:10px;
    h3 {
      margin:0px;
      padding:10px;
    }
    ul {
      list-style-type:none;
      margin:0px;
      li {
        padding:10px;
        border-top: 1px solid @borderColor;
        .description {
          margin-left: 60px;
        }
      }
    }
  }
}
