<div id="footer span-24">
  <div id="footer-nav">
    <ul class="horizontal center">
      <li> <%= link_to "About", '#' %></li>
      <li> <%= link_to "Contact", '#' %></li>
    </ul>
  </div>
</div>
