<form class="navbar-form form-inline hidden-phone">
  <div class="input-prepend input-append">
    <span class="add-on">Split $</span>
    <input id="input-amount" class="input-mini" type="text" placeholder="100"/>
    <span class="add-on">for</span>
    <input id="input-for" class="input-large" type="text" placeholder="Takeout"/>
    <span class="add-on">with</span>
    <input id="input-with" class="input-large" type="text" placeholder="@foobar, boo@far.com"/>
    <input type="submit" class="btn btn-primary" value='Split it up!'/>
  </div>
</form>