<form class="navbar-form visible-phone">
  <div class="input-prepend">
    <div class="phone-label-wrapper">
      <span class="add-on">Split $</span>
    </div>
    <div class="phone-input-wrapper">
      <input type="text" placeholder="100"/>
    </div>
  </div>
  <div class="input-prepend">
    <div class="phone-label-wrapper">
      <span class="add-on">for</span>
    </div>
    <div class="phone-input-wrapper">
      <input type="text" placeholder="Takeout"/>
    </div>
  </div>
  <div class="input-prepend">
    <div class="phone-label-wrapper">
      <span class="add-on">with</span>
    </div>
    <div class="phone-input-wrapper">
      <input type="text" placeholder="@foobar, boo@far.com"/>
    </div>
  </div>
  <input type="submit" class="btn btn-primary span2" value="Split it up!"/>
</form>